In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gs://diobucket1/resultado/part-00000',sep='\n',header=None)

In [3]:
palavra_e_count = df[0].str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.rsplit(',', n=1, expand=True)
palavra_e_count.rename(columns = {0: 'palavra', 1: 'qnt'} , inplace = True)
palavra_e_count.head(3)
palavra_e_count.dtypes

palavra    object
qnt        object
dtype: object

In [4]:
#to_int garantir ordenação. 
palavra_e_count['qnt'] = palavra_e_count['qnt'].astype('int') 
palavra_e_count.dtypes

palavra    object
qnt         int64
dtype: object

In [5]:
#fetch 10 rows desc
top10 = palavra_e_count[:10].sort_values('qnt', ascending=False)
top10.head(3)

  palavra   qnt
0   'the'  4066
1   'and'  2969
2    'of'  2746

In [6]:
#resultado Series
resultado = top10['palavra'].str.replace("'",'',regex=False)
resultado

0    the
1    and
2     of
3      I
4     to
5     my
6      a
7
8     in
9    was
Name: palavra, dtype: object

In [8]:
resultado.to_csv('gs://diobucket1/resultado/resultado.txt',index=False, header=None)